<%- include('../partials/header') %>
    <h2>Flight Details</h2>

        <div>
            <form action="/flights/<%= flight._id %>/tickets/new" method="POST">
              
                <label>Destination Airport:
                    <select name="airport">
                        <option value="JFK">JFK</option>
                        <option value="ATL">ATL</option>
                        <option value="DCA">DCA</option>
                        <option value="TYR">TYR</option>
                    </select>
                </label><br>
                <label>Arrival Time:
                    <input type="date" name="arrival">
                </label><br>
                <button type="submit">ADD</button>
                <br><br><br>
            </form>
        </div>

    </table>
    <%- include('../partials/footer') %>